.singular .barchart {
  font-size: 11px;
  vertical-align: bottom;
}
.singular .barchart .item_name {
  text-decoration: none;
  font-size: 11px !important;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  /*border-radius: 4px;*/
}
.singular .barchart .item_name:hover {
  color: #3e6d8e;
  /*background-color: #4a6b82;*/
}
.singular .barchart .item_name a:hover {
  text-decoration: none;
  cursor: pointer;
}
